body {
    margin: 0px;
    font-family: "raleway", sans-serif;
}
button {
    border: 0px;
    font-family: "raleway", sans-serif;
}
#menubar {
    background-color: #06D6A0;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 0px 16px;
    position: sticky;
    top: 0;
    box-shadow: 0px 10px 20px #EBEBEB;
    z-index: 200;
}
#menuTitulo {
    display: flex;
}
#menubar button {
    background-color: #06D6A0;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
}
#menubar button:hover {
    background-color: #f5d34c;
}
#menubar button:active {
    background-color: #F5F5F5;
}
#useroptions {
    display: flex;
}
.dropdown a {
    display: block;
    padding: 12px 8px;
    cursor: pointer;
}
.dropdown a:hover {
    background-color: #f5d34c;
}
.dropdown .content {
    display: none;
    background-color: #F5F5F5;
    position: absolute;
    min-width: 100px;
    border-radius: 5px;
}
.dropdown:hover .content {
    display: block;
}
#main {
    display: flex;
    position: relative;
}
#sidebar {
    width: 20%;
    height: 88vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 79.875px;
    z-index: 200;
}
#bsideCont {
    display: flex;
    flex-direction: column;
}
.bside {
    background-color: #F5F5F5;
    color: #000000;
    text-align: left;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}
.bside:hover {
    background-color: #f5d34c;
}
.bside:active {
    background-color: #FFFFFF;
}
#sideOptions {
    background-color: #06D6A0;
    padding: 12px 0px 0px 8px;
    height: 48px;
}
#sideOptions button {
    background-color: #06D6A0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#sideOptions button:hover {
    background-color: #f5d34c;
}
#sideOptions button:active {
    background-color: #F5F5F5;
}
#info {
    width: 80%;
    background-color: #FFFFFF;
    position: relative;
    z-index: 100;
}
#info h1 {
    margin: 20px;
}
/*Separacion arriba y abajo*/
#top {
    display: flex;
    justify-content: space-between;
}
#bottom {
    display: flex;
    justify-content: space-between;
}
/*Parte superior izquierda: Información básica de la tarjeta y recarga*/
#tleft {
    box-shadow: 10px 10px 50px #F5F5F5;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 20px;
    height: 340px;
    width: 70%;
    background-image: url("/imgs/cityBG4.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
#saldoTitulo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px;
}
/*Botón de recarga cívica*/
#saldoTitulo button {
    background-color: #f5d34c;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
#tleft button:hover {
    background-color: #FFFFFF;
}
#tleft button:active {
    background-color: #F5F5F5;
}
/*Bold para resaltar los valores del saldo, el perfil y el número de tarjeta*/
.data1 {
    font-weight: bold;
}
/*Detalles exclusivos del saldo*/
#saldo {
    font-family: "raleway";
    font-weight: bold;
    font-size: 40px;
    margin: 0px 20px;
}
/*Contenedor de perfil y número de tarjeta*/
#adicional {
    display: flex;
    justify-content: space-between;
    margin: 100px 20px 0px 20px;
}
/*Parte superior derecha: Opciones con QR y mapa*/
#tright {
    width: 30%;
    display: flex;
    flex-direction: column;
}
#tright button {
    background-color: #06D6A0;
    font-size: 16px;
    padding: 15px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
}
#tright button:hover {
    background-color: #f5d34c;
}
#tright button:active {
    background-color: #F5F5F5;
    color: #000000;
}
#ubicaciones {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
}
#ubicaciones input{
    font-family: "raleway", sans-serif;
}
/*Parte inferior izquierda: Registro de movimientos tarjeta cívica*/
#bleft {
    width: 70%;
    margin: 20px;
}
/*Cabecera: Título de la sección y botón*/
#movTitulo {
    display: flex;
    justify-content: space-between;
}
#movTitulo button {
    border: 2px solid;
    border-color: #06D6A0;
    background-color: #FFFFFF;
    color: #06D6A0;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0px;
    cursor: pointer;
}
#movTitulo button:hover{
    background-color: #06D6A0;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
#movTitulo button:active {
    background-color: #F5F5F5;
    color: #000000;
}
/*Registros de movimientos: Lugar y servicio, valor pagado, fecha y hora, saldo restante*/
.movimientos {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
}
.movimientos:hover {
    box-shadow: 10px 10px 20px #f5f5f5;
}
.movArriba {
    font-weight: bold;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.movArriba p {
    margin: 0px;
}
.movAbajo {
    font-size: 12px;
    color: #5C5C5C;
    display: flex;
    justify-content: space-between;
}
.movAbajo p {
    margin: 0px;
}
#movDetalles {
    text-align: right;
}
/*Parte inferior derecha: Servicios adicionales*/
#bright {
    width: 30%;
    margin: 20px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#bright button {
    background-color: #06D6A0;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    text-align: left;
    cursor: pointer;
}
#bright button:hover {
    background-color: #f5d34c;
}
#bright button:active {
    background-color: #F5F5F5;
    color: #000000;
}
#ads {
    display: flex;
    overflow-x: scroll;
    margin: 72px 0px;
}
#ads img {
    margin: 0px 20px;
}
#lugaresCercanos {
    margin: 0px 20px;
}
#sugerencias {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}
.lugar {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.lugar:hover {
    background-color: #f5d34c;
}
#footer {
    background-color: #06D6A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#linea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 20px 0px;
}
#fGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 40px 0px;
    font-size: 12px;
}
#extras {
    margin-left: 40px;
    font-size: 10px;
    color: #5C5C5C;
}